<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <form id="new_user_form">
        {% csrf_token %}
        <label for="username">Username :</label><br>
        <input type="text" name="username" id="username" required /><br><br>
        <label for="password">Password :</label><br>
        <input type="text" name="password" id="password" required /><br><br>
        <input type="submit" id="submit" name="submit" value="Log In"/>
    </form>
</body>
<script type="text/javascript">
    $(document).on('submit', '#new_user_form', function(e){
        e.preventDefault();
        $.ajax({
            type='POST',
            url='/test2/',
            data:{
                name: $('#name').val(),
                password: $('#password').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(){
                alert('Success');
            }
        })
    }
    )
</script>
</html>